
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

#wrapper {
    background-color: papayawhip;
    width:  100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}
    #firstColumn {
        background-color: #266867;
        flex-grow: 65;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 1rem;
        align-content: stretch;
    }
        #title {
            height: 10%;
        }
        #mainCanvasHolder {
            height: 80%;
            margin: 1rem;
            display: flex;
            align-items: stretch;
            align-content: stretch;
        }
            #mainCanvas {
                background-color: black;
                flex-grow: 1;
            }
        #buttonBar {
            height: 10%;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
        }
            #buttonBar > * {
                height: 50%;
            }
    #secondColumn {
        background-color: #F58800;
        flex-grow: 35;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 1rem;
    }
        #tileset {
            height: 20%;
        }
        #tileViewer {
            height: 30%;
        }
        #json {
            height: 40%;
            display: flex;
            align-items: stretch;
        }
            #jsonText {
                resize: none;
                flex-grow: 1;
            }
        #jsonButtons {
            height: 10%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
            #jsonButtons > * {
                height: 50%;
            }